body{
background-color: rgb(241, 213, 213);
color: rgb(113, 22, 22);
text-align: center;
font: size 22px;}

.paragrafo{
color: black;
font-size: 200%;
position: absolute;
top: 300px;
right: 550px;
width: 30%;}

.imagem{
width: 15%;
position: absolute;
top: 300px;
left: 400px;}

.rodape{color: rgb(177, 57, 105);
font-size: 37px;
position: absolute ;
top: 250px;
left: 300px;
width: 25%;}